<h2>My Heroes</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Hero</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td>{{ hero.id }}</td>
      <td>
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </td>
      <td>
        <button class="btn btn-sm btn-danger"
          title="delete hero"
          (click)="delete(hero.id)">
          X
        </button>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/detail/0" class="btn btn-primary"> New Hero </a>
